<ion-header>
  <ion-toolbar>
    <ion-title>RecoFace App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Menú de navegación con rutas -->
  <ion-segment [value]="selectedTab" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="registro" routerLink="/home/registro">Registrarme</ion-segment-button>
    <ion-segment-button value="lista" routerLink="/home/lista">Lista</ion-segment-button>
    <ion-segment-button value="validacion" routerLink="/home/validacion">Validación</ion-segment-button>
  </ion-segment>

  <!-- Aquí se renderiza la ruta seleccionada -->
  <router-outlet></router-outlet>
</ion-content>
